# A2.03 - In-Class - Code Practice I
>Practice what we have covered so far in class.
>
>Variables, numbers, strings, lists and dictionaries!

In [ ]:
# Create a variable that holds an integer.
Chris = 5

In [ ]:
# Create a variable that holds a float.
Nina = 2.8

In [ ]:
# Create a variable that holds a single-quote string.
Oliver = 'My cat'

In [ ]:
# Create a variable that holds a string that contains an apostrophe.
Amaya = "My dad's cat"

In [ ]:
# Print your string that holds an apostrophe by using the variable name.
print (Amaya)

My dad's cat

In [ ]:
# Use floor division
5//25

In [ ]:
# Use modulo division
6%10

In [ ]:
# What is 10 to the power of 10?
10**10

In [ ]:
# What is the square root of 100?
100**.5

In [ ]:
# Create a new string and save it to a variable
Navi = "my other cat"

In [ ]:
# Call the first item in the string
Navi [0]

'm'

In [ ]:
# call the last item in the string
Navi [-1]

't'

In [ ]:
# Call every second item in the string
Navi [::2]

'm te a'

In [ ]:
# Reverse the string
Navi [::-1]

'tac rehto ym'

In [ ]:
# Reverse the string but call every second item
Navi [::-2]

'tcrhoy'

In [ ]:
# Set your string to Upper case
Navi.upper()

'MY OTHER CAT'

In [ ]:
# Set your string to Lower Case
Navi.lower()

'my other cat'

In [ ]:
# Create a string that holds a sentence
Doodle = "my only dog"

In [ ]:
# Split this new string on the spaces
Doodle.split()

['my', 'only', 'dog']

In [ ]:
# Create a list of three single word strings and save it a to a variable
Ive = "run"
out = "of"
family = "members"

Carina = (Ive, out, family)

In [ ]:
# Call the second item in the list
Carina [1]

'of'

In [ ]:
# Reassign the third item in the list to a dictionary with at least two key-value pairs
# One value should be a string
# The other value should be a number type

Carina[2] = {"Sorry":"I actually hadnt used", "my sister":123}

In [ ]:
# Double the number inside the dictionary inside the string
Carina[2]["my sister"] *2

In [ ]:
# Call the Upper method on the string inside the dictionary inside the list
Carina[2]["Sorry"].upper()